
.inp{
	margin-bottom: 10px;
	text-align: center;

	
}
.grancvelbtn{
	width: 120px;
	height: 40px;
	background:black;
	border:none;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.90);
}
.new{
	width: 100%;
	height: 300px;
	background: #D0D0D0;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item{
	max-width: 1000px;
	height: 260px;
	background: white;
}
.vernagir{
	max-width: 1000px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;

}
.nyut{
	max-width: 1000px;
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.nkar1{
	width: 350px;
	height: 230px;
	background-image: url("full.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nyutimasin{
	width: 650px;
	height: 230px;

}
.dv1{
	width: 630px;
	height: 170px;
margin-left: 15px;
margin-top: 5px;
	

}
.nkar2{
	width: 350px;
	height: 230px;
	background-image: url("photo1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
li{
	font-size: 15px;
}
.imanal{
	float: right;
	margin-right: 20px;
	margin-top: 5px;
    width: 140px;
	height: 40px;
	background:black;
	border:none;
	border-radius: 10px;
	color: white;
	transition: 0.5s;

}
.imanal:hover{
	background: white;
	color: black;
	border: 2px solid black;
}


@media only screen and (max-width: 1000px) {
.item{
	max-width: 850px;

}
.vernagir{
	max-width: 850px;


}

.nyut{
	max-width: 850px;
	height: 230px;

}
.nkar1{
	width: 250px;
	

}
.nkar2{
	width: 250px;
}
.nyutimasin{
	width: 550px;
	

}


}

