
body{
	background: #A0A0A0;
}
.inp{
	margin-bottom: 10px;
	text-align: center;

	
}
.grancvelbtn{
	width: 120px;
	height: 40px;
	background:black;
	border:none;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.90);
}
.item{
	width: 100%;
	min-height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	background: black;
	border-top:5px solid #A8B8C6;
	border-bottom:5px solid #A8B8C6;

}
.test{
	width: 600px;
	height:230px;
	background:#A8B8C6;
	border:2px solid black;
	text-align: center;
	border-radius: 10px;


	
}
.harc{
	width: 596px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.testbtn{
	width: 250px;
	height: 40px;
	background: white;
	border:2px solid black;

}

#btn6{
	background: #32653C;
	color: white;
}
#harc2,#harc3,#harc4,#harc5,#harc6,#harc7,#harc8{
	display: none;

}
#ardyunq{
	margin-top: 30px;
	font-size: 40px;
}
#miavor{
	
	font-size: 25px;
}

@media only screen and (max-width: 600px) {
.test{
	width: 400px;
	height:230px;
	background:#A8B8C6;
	border:2px solid black;
	text-align: center;
	border-radius: 10px;


	
}
.harc{
	width: 396px;
}

}